
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contatos</title>
</head>

<body bgcolor="black">
    <p>
        <font size="20" color="black">De um salve no pai:</font>
    </p>
    <br><br>
    <p>
        <font size="05" face="verdana" color="black"><b>Email:</b> Erickscapichaba@gmail.com</font>
    </p>
    <br>
    <p>
        <font size="05" face="verdana" color="black"><b>Tel:<b>(73) 9-98211-6151</font>
    </p>
    
    <br>

    
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
<bory><nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="/" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="/"><font face="times new roman">1</font></a></li>
      <li class="page-item"><a class="page-link" href="/contatos"><font face="times new roman">2</font></a></li>
      <li class="page-item"><a class="page-link" href="/about"><font face="times new roman">3</font></a></li>
      <li class="page-item">
        <a class="page-link" href="/about" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</bory>

</html>