<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>

<body background="0000">


    <h1 align="center"><font face="times new roman" color="Black" style="text-align: right;" align="center">Olá, Sejam Bem-Vindos ao meu primeiro site!</font></h1>
    <br>
    <hr>
    <h2><font face="times new roman" color="Black">Aqui abaixo irei criar algo bacana!</font></h2>
    
    
    
    
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
<bory>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
               <a class="page-link" href="/" >

        </a>
          </li>
          <li class="page-item"><a class="page-link" href="/"><b><font face="times new roman">1</font></b></a></li>
          <li class="page-item"><a class="page-link" href="/contatos"><b><font face="times new roman">2</font></b></a></li>
          <li class="page-item"><a class="page-link" href="/about"><b><font face="timmes new roman">3</font></b></a></li>
          <li class="page-item">
            <a class="page-link" href="/contatos" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
</bory>
</html>